.content__form {
	margin: 20px 0;
}

.form {
	display: flex;
	min-width: 100%;
	flex-direction: column;
	align-items: center;
}

.form__label {
	display: block;
	min-width: 100%;
	margin: 0 0 20px 0;
}

.form__label span {
	display: block;
	margin: 0 0 10px 10px;
}

.form__input {
	display: block;
	min-width: 100%;
	border: 1px solid #c5c5c5;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 10px;
}

.form__error {
	align-self: flex-start;
	margin: 10px 0 0 10px;
	color: #960000;
	font-size: 14px;
}

.form__button {
	cursor: pointer;
	padding: 10px 15px;
	font-size: 20px;
	background-color: #00069d;
	color: #fff;
	border-radius: 10px;
}