{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navigation">
        <ul class="navigation__list">
            <li>Главная</li>
        </ul>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h1 class="content__title">Главная</h1>
    <hr>
    <div class="block-1">
        <div class="block-1__row">
            <div class="block-1__body">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
                    изменений пять веков, но и перешагнул в электронный дизайн.</p>
            </div>
            <div class="block-1__image"><img src="{% static 'img/index/content_image.png' %}" alt=""></div>
        </div>
    </div>
    <div class="block-2">
        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
            стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
            печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
            образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и
            перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов
            Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
            вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это
            текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
            "рыбой" для текстов на латинице с начала XVI века.</p>
    </div>
{% endblock %}