{% extends 'base.html' %}
{% load static %}

{% block title %}Лента{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/feed-stories.style.css' %}">{% endblock %}

{% block content %}
<nav class="navigation">
    <ul class="navigation__list">
        <li><a href="{% url 'main:index' %}" class="navigation__link">Главная</a></li>
        <li>Лента</li>
    </ul>
</nav>
<h1 class="content__title">Лента</h1>
<hr>
<div class="content__column">
    {% for story in stories %}
    <div class="content__card card">
        <div class="card__body">
            <p class="card__title">{{ story.title }}</p>
            <div class="card__text">{{ story.body|truncatechars:255 }}</div>
            <a href="{{ story.get_absolute_url }}" class="card__button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}